<div class="row">
  <div class="col-md-6">
    <h3>Giorno 1 (giovedì 27 gennaio)</h3>
    <table class="table table-striped">
      <tr> <td>Prima</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Questionario pre-laboratorio</a> </td> </tr>
      <tr> <td>09:00-9:30</td>  <td>Introduzione al laboratorio e a The Carpentries</td> </tr>
      <tr> <td>09:30-11:00</td>  <td>Automatizzazione con la Shell Unix</td> </tr>
      <tr> <td>11:00-11:30</td>  <td>Pausa caff&egrave;</td> </tr>
      <tr> <td>11:30-13:00</td>  <td>Automatizzazione con la Shell Unix</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Giorno 2 (venerdì 28 gennaio)</h3>
    <table class="table table-striped">
      <tr> <td>09:00-11:00</td>  <td>Controllo di versione con Git e Github</td> </tr>
      <tr> <td>11:00-11:30</td>  <td>Pausa caff&egrave;</td> </tr>
      <tr> <td>11:30-13:00</td>  <td>Controllo di versione con Git e Github</td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Giorno 1 (giovedì 27 gennaio)</h3>
    <table class="table table-striped">
      <tr> <td>09:00-11:00</td>  <td>Programmare con Python</td> </tr>
      <tr> <td>11:00-11:30</td>  <td>Pausa caff&egrave;</td> </tr>
      <tr> <td>11:30-13:00</td>  <td>Programmare con Python</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Giorno 2 (venerdì 28 gennaio)</h3>
    <table class="table table-striped">
      <tr> <td>09:00-10:30</td>  <td>Creare grafici con Python</td> </tr>
      <tr> <td>10:30-11:00</td>  <td>Pausa caff&egrave;</td> </tr>
      <tr> <td>11:00-12:30</td>  <td>Applicazioni avanzate con Python</td> </tr>
      <tr> <td>12:30-13:00</td>  <td>Ritorno d’esperienza sul laboratorio</td> </tr>
      <tr> <td>Dopo</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Questionario post-laboratorio</a></td> </tr>
    </table>
  </div>
</div>
